tsconfig.json
.vscode
.prettierignore
.prettierrc
.npmrc
package.lock
package.json
.gitignore
.editorconfig
scripts/
doc/
bin/
types/
README.md
LICENSE
nestconfig.json
node_modules/
coverage/
config/
tslint.json
jest.config.js
.angular-cli.json
*.json
/Server-mock/**/*
/coverage
/config