/* .bg-info {
  margin: .2rem;
}
.btn-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border-color: 1px solid rgb(53, 18, 18);
}
.btn-circle > i.fa {
  transform: translate(-1.1rem, -1.1rem)
}
.events-header {
  min-height: 4rem;
  line-height: 3rem;
  border-bottom: 1px solid #471010;
  margin-bottom: .3rem;
} */