<mat-sidenav mode="side" #sideNav fxFlex>
  <ng-container *ngIf="isLogged; then menuesTmpl else notLoggedInTmpl"></ng-container>
  <ng-template #menuesTmpl>
    <mat-tab-group >
      <mat-tab label="Users">
        <mat-nav-list>
          <mat-list-item *ngFor="let user of users" 
            (click)="sideNav.toggle()" 
            [routerLink]="['/users', user['id'], 'details']">
            <span>{{user?.name}}</span>
          </mat-list-item>
        </mat-nav-list>
      </mat-tab>
      <mat-tab label="Events">
        <mat-nav-list>
          <mat-list-item *ngFor="let event of events" 
            (click)="sideNav.toggle()" 
            [routerLink]="['/events', event['id'], 'details']">
            <span>{{event?.name}}</span>
          </mat-list-item>
        </mat-nav-list>
      </mat-tab>
    </mat-tab-group>
  </ng-template>

  <ng-template #notLoggedInTmpl>
    <app-user-auth fxFlex></app-user-auth>
  </ng-template>
</mat-sidenav>