.fb-btn-logo {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IgogICAgIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIKICAgICB2aWV3Qm94PSIwIDAgNjQgNjQiCiAgICAgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjQgNjQ7O2ZpbGw6IzAwMDAwMDsiCiAgICAgY2xhc3M9Imljb24gaWNvbnM4LWZhY2Vib29rIj48bGluZWFyR3JhZGllbnQgaWQ9ImZfMV9fNDQwMDMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMzcuNjQ2MiIgeTE9IjE0LjUiIHgyPSIzNy42NDYyIiB5Mj0iNTYuODc3OSIgc3ByZWFkTWV0aG9kPSJyZWZsZWN0Ij4JPHN0b3Agb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjojNkRDN0ZGIj48L3N0b3A+CTxzdG9wIG9mZnNldD0iMSIgc3R5bGU9InN0b3AtY29sb3I6I0U2QUJGRiI+PC9zdG9wPjwvbGluZWFyR3JhZGllbnQ+PHBhdGggaWQ9ImZfMl8iIHN0eWxlPSJmaWxsOnVybCgjZl8xX180NDAwMyk7IiBkPSJNNDIsNTZWMzhoNS4zNThsMC45MzQtOEg0MnYtNC40NTdjMC0yLjA5Ny0wLjEzMS0zLjUyNywyLjg3Ny0zLjUyN0w0OCwyMi4wMTR2LTYuNDc5ICBjLTEtMC4wODgtMi40ODctMC4yODUtNS4xMzYtMC4yODVjLTUuNTMxLDAtOC44NjQsMy4zNzYtOC44NjQsOS41NzZWMzBoLTd2OGg3djE4SDQyeiI+PC9wYXRoPjxsaW5lYXJHcmFkaWVudCBpZD0iU1ZHSURfMV9fNDQwMDMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMzIiIHkxPSI2LjgzMzMiIHgyPSIzMiIgeTI9IjU4LjAxNzQiIHNwcmVhZE1ldGhvZD0icmVmbGVjdCI+CTxzdG9wIG9mZnNldD0iMCIgc3R5bGU9InN0b3AtY29sb3I6IzFBNkRGRiI+PC9zdG9wPgk8c3RvcCBvZmZzZXQ9IjEiIHN0eWxlPSJzdG9wLWNvbG9yOiNDODIyRkYiPjwvc3RvcD48L2xpbmVhckdyYWRpZW50PjxwYXRoIHN0eWxlPSJmaWxsOnVybCgjU1ZHSURfMV9fNDQwMDMpOyIgZD0iTTUwLDU3SDE0Yy0zLjg1OSwwLTctMy4xNDEtNy03VjE0YzAtMy44NTksMy4xNDEtNyw3LTdoMzZjMy44NTksMCw3LDMuMTQxLDcsN3YzNiAgQzU3LDUzLjg1OSw1My44NTksNTcsNTAsNTd6IE0xNCw5Yy0yLjc1NywwLTUsMi4yNDMtNSw1djM2YzAsMi43NTcsMi4yNDMsNSw1LDVoMzZjMi43NTcsMCw1LTIuMjQzLDUtNVYxNGMwLTIuNzU3LTIuMjQzLTUtNS01SDE0eiAgIj48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
  background-size: 100%;
}

mat-card {
  mat-card-header {
    h3 {
      text-align: center;
    }
  }
  mat-card-content {
    p {
      text-align: center;
      color: lighten($color: #fff, $amount: 50);
    }
  }
}