<section fxLayout="column" fxLayoutGap=".4rem" fxFill>
  <app-carousel fxHide.xs fxHide.lt-xs></app-carousel>

  <div *ngIf="isLoggedIn; then wellcomeBlock else loginOptionsBlock"></div>

  <ng-template #wellcomeBlock>
    <mat-card fxFlex="1 1 100%" fxFill>
      <mat-card-header>
        <h2>Wellcome,
          <em>{{currentUser.name}}</em>
        </h2>
      </mat-card-header>
      <mat-card-content>
        <section class="panel" fxLayout="column" fxLayoutGap="1rem" fxFlexFill >
          <div fxFlexAlign="right">
              <h4>fb-follow</h4>
              <fb-follow href="{{followPage}}"></fb-follow>
          </div>
          <div class="row">
            <i>Go to Events</i>
            <a mat-raised-button color="primary" routerLink="/events">Events</a>
          </div>
          <div class="row">
            <i>Create new Event</i>
            <button mat-raised-button color="warning" (click)="createNewEvent()">Events</button>
          </div>
          <br />
          <div class="row">
            <button class="orange" mat-button (click)="search()">Search</button>
          </div>
        </section>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <ng-template #loginOptionsBlock>
    <mat-card fxFlex="1 1 100%" fxFill>
      <mat-card-header>
        <h3>Login </h3>
      </mat-card-header>
      <mat-card-content>
        <p>Please, use one of the options below to login...</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="warning" routerLink="/auth/signin">Login</a>
        <span fxFlex></span>
        <button mat-button color="warning" (click)="loginFb()">
          <i class="fb-btn-logo"></i>
          Facebook
        </button>
        <!-- <button mat-button color="warning" (click)="fbGetProfile()">
          <i class="fb-btn-logo"></i>
          Profile
        </button> -->
      </mat-card-actions>
    </mat-card>
  </ng-template>

</section>