<div class="container">
  <form [formGroup]="registrationForm" (ngSubmit)="submit()" novalidate autocomplete="false">

    <h4>Registration</h4>


    <mat-form-field>
      <input type="text" matInput placeholder="Enter User name" [formControl]="name" />
      <mat-error *ngIf="!validatefield(name)"></mat-error>
    </mat-form-field>


    <mat-form-field>
      <input type="text" matInput placeholder="Enter User username" [formControl]="username" />
      <mat-error *ngIf="!validatefield(username)"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="email" matInput placeholder="Enter User email" [formControl]="email" />
      <mat-error *ngIf="!validatefield(email)"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Enter User password" [formControl]="password" />
      <mat-error *ngIf="!validatefield(password)"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Enter password again" [formControl]="repassword" />
      <mat-error *ngIf="!validatefield(repassword)"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Enter work place" [formControl]="workplace" />
      <mat-error *ngIf="!validatefield(workplace)"></mat-error>
    </mat-form-field>

    <mat-radio-group>
      <mat-radio-button *ngFor="let gen of genders" [formControl]="gender" [value]="gen">
        {{gen}}
      </mat-radio-button>
    </mat-radio-group>

    <div>
      <div class="file-upload">
        <label for="fileInput">Image:</label>
        <div>
          <input #fileInput type="file" (change)="change($event)" id="fileInput" name="fileInput" />
        </div>
      </div>
    </div>

    <div class="row">
      <button mat-raised-button color="primary" type="submit" 
        [disabled]="registrationForm.invalid || registrationForm.untouched">
        <mat-icon>input</mat-icon>
        <span >Log in</span>
      </button>

      <button type="button" class="btn btn-warning" [disabled]="registrationForm.untouched" (click)="reset()">
        <mat-icon>clear</mat-icon>
        <span >Clear</span>
      </button>
    </div>
    
  </form>
</div>