<div class="container">
  <form [formGroup]="eventForm" (ngSubmit)="create()">
    <mat-form-field>
      <input matInput placeholder="Enter Start date/time" [formControl]="startTime" />
      <mat-error *ngIf="startTime.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter End date/time" [formControl]="endTime" />
      <mat-error *ngIf="endTime.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="10" type="text" placeholder="Enter Event description" 
        [formControl]="description"></textarea>
      <mat-error *ngIf="description.invalid"></mat-error>
    </mat-form-field>

    <!-- <fieldset class="form-group" *ngIf="">
    <legend>Select participants</legend>
    <label for="participants"></label>
    <select multiple class="form-control" id="exampleSelect2" formGroupArrayName="participants">
      <option *ngFor="let user of participants; let i = index" 
        [ngValue]="user.id"
        formControlName="participant-{{i}}">
        {{user.name}}
      </option>
    </select>
  </fieldset> -->

      <div class="row">
        <button type="submit" mat-button-raised color="primary" [disabled]="eventForm.invalid || eventForm.untouched">
            <mat-icon>input</mat-icon>
            <span>Log in</span>
        </button>
      
        <button type="button" mat-button-raised color="warning" [disabled]="eventForm.untouched" (click)="reset()">
            <mat-icon>clear</mat-icon>
            <span>Clear</span>
        </button>
      </div>
  
  </form>
</div>