<div class="container">
  <form [formGroup]="eventForm" (ngSubmit)="create()">
    <div class="form-group row">
      <div class="col-md-4 col-form-label">
        <label for="name">Events name: </label>
        <input type="text" id="name" name="name" class="form-control" formControlName="name" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 col-form-label">
        <label for="startTime">Starts: </label>
        <input type="datetime" id="startTime" class="form-control" formControlName="startTime" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 col-form-label">
        <label for="endTime">Ends: </label>
        <input type="datetime" id="endTime" class="form-control" formControlName="endTime" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 col-form-label">
        <label for="description">Description: </label>
        <textarea id="description" rows="10" class="form-control" formControlName="description"></textarea>
      </div>
    </div>
    <!-- <fieldset class="form-group" *ngIf="">
    <legend>Select participants</legend>
    <label for="participants"></label>
    <select multiple class="form-control" id="exampleSelect2" formGroupArrayName="participants">
      <option *ngFor="let user of participants; let i = index" 
        [ngValue]="user.id"
        formControlName="participant-{{i}}">
        {{user.name}}
      </option>
    </select>
  </fieldset> -->
    <div class="form-group row mx-auto">
      <div class="col-6">
        <button type="submit" class="btn btn-primary" [disabled]="eventForm.invalid || eventForm.untouched">
          <span class="hidden-xs-down">Submit</span>
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-danger" [disabled]="eventForm.untouched" (click)="reset()">
          <span class="hidden-xs-down">Clear</span>
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>
</div>