<mat-card class="event-card">
  <mat-card-header>
    <div mat-card-avatar class="event-card-header-image"></div>
    <mat-card-title>{{event.name}}</mat-card-title>
    <mat-card-subtitle>Let's go for it!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <small>Starts: </small>
    <i>{{event.startDate}}</i>
    <br />
    <small>Ends: </small>
    <i>{{event.endDate}}</i>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <h4>fb-like</h4>
    <fb-like href="https://zyramedia.com"></fb-like>

    <button mat-button>SHARE</button>
    <a mat-button [routerLink]="['/events', event.id, 'details']" role="button" aria-pressed="false">Details</a>
  </mat-card-actions>
</mat-card>