<div class="container" fxLayout="column" fxFill 
  [ngStyle.xs]="{'font-size': '10px'}" 
  [ngStyle.md]="{'font-size': '16px'}">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img class="logo" src="assets/img/MPIS_Logo.png" alt="MPIS Logo" routerLink="/home" />
      <h2 class="brand" fxHide.xs fxHide.lt-xs routerLink="/home">{{title}}</h2>
      <span fxFlex></span>
      <button mat-icon-button aria-label="toggle navbar" (click)="sideMenu.sideNav.toggle()">
        <mat-icon *ngIf="!menuOpened">menu</mat-icon>
        <mat-icon *ngIf="menuOpened">close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlex="1 1 100">
    <app-side-menu [users]="users" [events]="events"></app-side-menu>

    <section class="content" fxFlex="1 1 100%">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-container>
</div>