:host {
    display: flex;
    flex: 1;
}
  
mat-sidenav {
    width: 220px;
}

// .container {
//     height: 100vh;
//     height: 100%;
//     width: 100vw;
//     width: 100%;
//     display: flex;
// }